<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Plant Simulator</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >
</head>

<body>
    <main>
        <h1>Plant Simulator</h1>

        <h2>Natural Gas Compressor</h2>

        <section>
            <h3>Compressor Status</h3>

            <p>
                Status:
                <span id="status">
                    {{ "Running" if state.running else "Stopped" }}
                </span>
            </p>

            <p>
                Actual Load:
                <span id="load">
                    {{ "%.1f"|format(state.load * 100) }}%
                </span>
            </p>

            <p>
                Load Target:
                <span id="load-target">
                    {{ "%.1f"|format(state.load_target * 100) }}%
                </span>
            </p>

            <label for="load-slider">
                Load Target
            </label>

            <input
                id="load-slider"
                type="range"
                min="0"
                max="100"
                step="5"
                value="{{ state.load_target * 100 }}"
            >
        </section>

        <section>
            <h3>Process State</h3>

            <p>
                Suction Pressure:
                <span id="suction-pressure">
                    {{ "%.1f"|format(state.suction_pressure) }} psi
                </span>
            </p>

            <p>
                Discharge Pressure:
                <span id="discharge-pressure">
                    {{ "%.1f"|format(state.discharge_pressure) }} psi
                </span>
            </p>

            <p>
                Pressure Spread:
                <span id="spread">
                    {{ "%.1f"|format(state.spread) }} psi
                </span>
            </p>

            <p>
                Flow:
                <span id="flow">
                    {{ "%.1f"|format(state.flow) }} MMcfd
                </span>
            </p>

            <p>
                Discharge Temperature:
                <span id="temperature">
                    {{ "%.1f"|format(state.temperature) }} °F
                </span>
            </p>
        </section>


        <section>
            <h3>Pressure Trend</h3>

            <canvas
                id="pressure-chart"
                width="900"
                height="300"
            ></canvas>

            <div class="compressor-buttons">
                <button id="start-button">
                    Start Compressor
                </button>

                <button id="stop-button">
                    Stop Compressor
                </button>
            </div>
        </section>
   </main>

    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
